#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 2px solid #333;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 6rem;
    max-height: 6rem;
    overflow: auto;
    padding: 0px;
    width: 100%;
    max-width: 100%;
  }
  
#output {
    font-family: Arial;
    line-height: 2rem;
    margin: 10px;
}

#output span {
    padding: 4px 2px;
    margin-right: 6px;
}

#output .shortest {
    background-color: rgba(255, 255, 0, 0.44);
}
#output .short {
    background-color: rgba(255, 192, 203, 0.44);
}
#output .medium {
    background-color: rgba(244, 67, 54, 0.44);
}
#output .long {
    background-color: rgba(128, 224, 31, 0.44);
}
#output .longest {
    background-color: rgba(0, 255, 255, 0.44);
}



/* #output .one {
    background-color: rgba(250, 0, 0, 0.44);
}
#output .two {
    background-color: rgba(250, 50, 0, 0.44);
}
#output .three {
    background-color: rgba(250, 100, 0, 0.44);
}
#output .four {
    background-color: rgba(250, 150, 0, 0.44);
}
#output .five {
    background-color: rgba(250, 200, 0, 0.44);
}
#output .six {
    background-color: rgba(250, 250, 0, 0.44);
}
#output .seven {
    background-color: rgba(200, 250, 0, 0.44);
}
#output .eight {
    background-color: rgba(150, 250, 0, 0.44);
}
#output .nine {
    background-color: rgba(100, 250, 0, 0.44);
}
#output .ten {
    background-color: rgba(50, 250, 0, 0.44);
}

#output .eleven {
    background-color: rgba(0, 250, 0, 0.44);
}
#output .twelve {
    background-color: rgba(0, 250, 250, 0.44);
}
#output .thirteen {
    background-color: rgba(0, 200, 250, 0.44);
}
#output .fourteen {
    background-color: rgba(0, 150, 250, 0.44);
}
#output .fifteen {
    background-color: rgba(0, 100, 250, 0.44);
}
#output .sixteen {
    background-color: rgba(0, 50, 250, 0.44);
}
#output .seventeen {
    background-color: rgba(0, 0, 250, 0.44);
}
#output .eighteen {
    background-color: rgba(50, 0, 250, 0.44);
}
#output .nineteen {
    background-color: rgba(100, 0, 250, 0.44);
}
#output .twenty {
    background-color: rgba(150, 0, 250, 0.44);
}

#output .twentyone {
    background-color: rgba(200, 0, 250, 0.44);
}
#output .twentytwo {
    background-color: rgba(250, 0, 250, 0.44);
}
#output .twentythree {
    background-color: rgba(250, 0, 200, 0.44);
}
#output .twentyfour {
    background-color: rgba(250, 0, 150, 0.44);
}
#output .twentyfive {
    background-color: rgba(250, 0, 100, 0.44);
}
#output .twentysix {
    background-color: rgba(250, 0, 50, 0.44);
}
#output .twentyseven {
    background-color: rgba(250, 0, 0, 0.44);
}
#output .twentyeight {
    background-color: rgba(250, 50, 0, 0.44);
}
#output .twentynine {
    background-color: rgba(250, 100, 0, 0.44);
}
#output .thirty {
    background-color: rgba(250, 150, 0, 0.44);
}

#output .longest {
    background-color: rgba(250, 200, 0, 0.44);
} */
